@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-semibold";
  src: url('../assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: "Hemming";
  src: url('../assets/fonts/Heming\ Variable.ttf');
}

@font-face {
  font-family: 'Fira-semibold';
  src: url('../assets/fonts/FiraCode-SemiBold.ttf');
}

body{
  background-color: black;

}

.inter-semibold{
  font-family: 'Inter-SemiBold';
}

.hemming{
  font-family: "Hemming";
}

.fira-semibold{
  font-family: 'Fira-semibold';
}